<div class="card mb-3">

  <div class="card-block">
    <h2 class="card-title">Contact</h2>
    <p class="card-text"><p><strong> Jamie Batchelor </strong></p>
    <h4>Phone</h4>

    <p><%= number_to_phone "8015606377" %></p>

    <p><a href="mailto: jgbatchelor@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
    <p> website: www.jamiebatchelor.com </p>
  </div>
</div>